<li id="comment-<%= comment._id %>" class="post-comments-li">
	<div class="comment">
		<div class="comment-heading">
			<% if(comment.user.avatar){ %>
			<img
				class="user-avatar"
				src=""
				data-src="<%= comment.user.avatar %>"
				alt="<%= comment.user.name %>"
				onclick="window.location.href='/users/profile/<%= comment.user.id %>'"
				loading="lazy"
			/>
			<% }else{ %>
			<img
				class="user-avatar"
				src=""
				data-src="/images/empty-avatar.png"
				alt="<%= comment.user.name %>"
				onclick="window.location.href='/users/profile/<%= comment.user.id %>'"
				loading="lazy"
			/>
			<% } %>
			<p class="comment-info">
				<small
					onclick="window.location.href='/users/profile/<%= comment.user.id %>'"
					><%= comment.user.name %></small
				>
				<small><%= comment.updatedAt %></small>
			</p>
			<!-- If (User who is signed in == User who created the comment) -->
			<% if((locals.user) && (locals.user.id == comment.user.id)){ %>
			<small>
				<a
					class="delete-comment-button"
					href="/comments/delete/<%= comment._id %>"
					><i class="fa-solid fa-trash"></i
				></a>
			</small>
			<% } %>
		</div>
		<div class="comment-content">
			<p><%= comment.content %></p>
		</div>
		<div class="comment-react">
			<a
				href="/likes/toggle/?id=<%= comment._id %>&type=Comment"
				class="like toggle-like-button"
				data-likes="<%= comment.likes.length %>"
				><i class="fa-solid fa-thumbs-up"></i>&ensp;<span
					><%= comment.likes.length %> Like</span
				></a
			>
		</div>
	</div>
</li>
