<script defer src="/js/lazy_loading.js"></script>

<header>
	<h1 id="logo" onclick="window.location='/';">
		The Social Book &nbsp; <i class="fa-solid fa-message"></i>
	</h1>
	<% if(locals.user){%>
		<nav class="big-navbar-links" id="home-nav">
	<% }else{ %>
		<nav class="big-navbar-links" id="welcome-nav">
	<% } %>
		<ul>
			<li>
				<% if(locals.user){%>
				<button
					class="btn-grad"
					onclick="window.location='/users/profile/<%= locals.user.id %>';"
				>
					My Profile
				</button>
				<% }else{%>
				<button
					class="btn-grad signup"
					onclick="window.location='/users/signup';"
				>
					Sign Up
				</button>
				<% }%>
			</li>
			<li>
				<% if(locals.user){%>
				<button class="btn-grad" onclick="window.location='/users/logout';">
					Log Out
				</button>
				<% }else{%>
				<button
					class="btn-grad login"
					onclick="window.location='/users/login';"
				>
					Log In
				</button>
				<% }%>
			</li>
		</ul>
	</nav>
	<% if(locals.user){%>
	<i class="fa-solid fa-bars" id="open"></i>
	<div class="sidebar">
		<section class="logo">
			<i class="fa-solid fa-xmark" id="close"></i>
			<h1>The Social Book</h1>
			<hr />
		</section>
		<ul class="sidebar-links">
			<li id="li-info">
				<a href="#/" id="info">
					<% if(locals.user.avatar){ %>
					<img
						class="user-avatar friend-avatar"
						src=""
						data-src="<%= locals.user.avatar %>"
						alt="<%= locals.user.name %>"
						onerror="this.onerror=null; this.src='/images/empty-avatar.png'"
						loading="lazy"
					/>
					<% } else { %>
					<img
						class="user-avatar friend-avatar"
						src=""
						data-src="/images/empty-avatar.png"
						alt="<%= locals.user.name %>"
						onerror="this.onerror=null; this.src='/images/empty-avatar.png'"
						loading="lazy"
					/>
					<% } %>&ensp;<%= locals.user.name %></a
				>
			</li>
			<li>
				<a href="/users/profile/<%= locals.user.id %>"><i class="fa-solid fa-id-badge"></i>&ensp;Profile</a>
			</li>
			<li>
				<a href="/friends"><i class="fa-solid fa-user-group"></i>&ensp;Friends</a>
			</li>
			<li>
				<a href="/users/logout"
					><i class="fa-solid fa-right-from-bracket"></i>&ensp;Logout</a
				>
			</li>
		</ul>
	</div>
	<% } %>
</header>
