<li id="post-<%= post._id %>" class="card post-li">
	<div class="post">
		<div class="post-heading">
			<% if(post.user.avatar){ %>
			<img
				class="user-avatar"
				src=""
				data-src="<%= post.user.avatar %>"
				alt="<%= post.user.name %>"
				onclick="window.location.href='/users/profile/<%= post.user.id %>'"
				loading="lazy"
			/>
			<% }else{ %>
			<img
				class="user-avatar"
				src=""
				data-src="/images/empty-avatar.png"
				alt="<%= post.user.name %>"
				onclick="window.location.href='/users/profile/<%= post.user.id %>'"
				loading="lazy"
			/>
			<% } %>
			<p class="post-info">
				<small
					onclick="window.location.href='/users/profile/<%= post.user.id %>'"
					><%= post.user.name %></small
				>
				<small><%= post.updatedAt %></small>
			</p>

			<!-- If (User is signed in) -->
			<!-- If (User who is signed in == User who created the post) -->
			<!-- locals.user.id is String -->
			<!-- post.user.id is String, post.user._id is Object-Id -->
			<% if((locals.user) && (locals.user.id == post.user.id)){ %>
			<small>
				<!-- post.id is String by MongoDB, post._id is Number -->
				<a class="delete-post-button" href="/posts/delete/<%= post.id %>"
					><i class="fa-solid fa-trash"></i
				></a>
			</small>
			<% } %>
		</div>
		<div class="post-content">
			<p><%= post.content %></p>
			<% if(post.contentImage){ %>
			<img
				src="<%= post.contentImage %>"
				alt="alt-post-image"
				loading="lazy"
			/>
			<% } %> 
			<% if(post.contentVideo){ %> 
				<video src="<%= post.contentVideo %>" alt="alt-post-video" controls />
			<% } %>
		</div>
		<div class="post-react">
			<a href="/likes/toggle/?id=<%= post._id %>&type=Post" class="like toggle-like-button" data-likes="<%= post.likes.length %>">
				<i class="fa-solid fa-thumbs-up"></i>&ensp;<span><%= post.likes.length %> Like</span></a
			>
			<a href="" class="comment" onclick="event.preventDefault();"
				><i class="fa-solid fa-message"></i>&ensp;Comment</a
			>
			<a href="" class="share"><i class="fa-solid fa-share"></i>&ensp;Share</a
			>
		</div>
	</div>
	<div class="post-comments">
		<!-- If user is signed in then only he can comment -->
		<% if(locals.user){ %>
		<form
			action="/comments/create"
			id="post-<%= post._id %>-comments-form"
			method="post"
		>
			<% if(locals.user.avatar){ %>
			<img
				class="user-avatar create-post-avatar"
				src=""
				data-src="<%= user.avatar%>"
				alt="<%= user.name %>"
				onclick="window.location.href='/users/profile/<%= user.id %>'"
				onerror="this.onerror=null; this.src='/images/empty-avatar.png'"
				loading="lazy"
			/>
			<% }else{ %>
			<img
				class="user-avatar create-post-avatar"
				src=""
				data-src="/images/empty-avatar.png"
				alt="<%= user.name %>"
				onclick="window.location.href='/users/profile/<%= user.id %>'"
				onerror="this.onerror=null; this.src='/images/empty-avatar.png'"
				loading="lazy"
			/>
			<% } %>
			<textarea
				name="content"
				cols="30"
				rows="3"
				placeholder="Type Here To Add Comment ..."
				required
			></textarea>
			<!-- Send ID of this specific Post where the Comment would be added  -->
			<input type="hidden" name="post" value="<%= post._id %>" />
			<input class="btn-grad" type="submit" value="Add Comment" />
		</form>
		<% } %>
		<div class="post-comments-list">
			<ul id="post-comments-<%= post._id %>" class="post-comments-ul">
				<% for(comment of post.comments){ %> <%- include('_comment') -%> <%
				} %>
			</ul>
		</div>
	</div>
</li>
