<link rel="stylesheet" href="<%= assetPath('css/friends_list.css') %>" />
<script defer src="<%= assetPath('js/profile.js') %>"></script>
<script defer src="<%= assetPath('js/lazy_loading.js') %>"></script>

<div class="friends-container">
	<h2><%= title %></h2>
	<section>
		<!-- If Friends Exist  -->
		<% if (friends.length > 0) { %>
		<!-- Find Friends  -->
		<% for (const friend of friends) { if(friend.from_user.id === user.id){ %>
		<div
			class="card"
			onclick="window.location.href='/users/profile/<%= friend.to_user.id %>'"
		>
			<% if (friend.to_user.avatar) { %>
			<img
				src="<%= friend.to_user.avatar %>"
				data-src="<%= friend.to_user.avatar %>"
				alt="<%= friend.to_user.name %>"
				onerror="this.onerror=null; this.src='/images/empty-avatar.png'"
				loading="lazy"
			/>
			<% } else { %>
			<img
				src="<%= assetPath('images/empty-avatar.png') %>"
				data-src="<%= assetPath('images/empty-avatar.png') %>"
				alt="<%= friend.to_user.name %>"
				onerror="this.onerror=null; this.src='/images/empty-avatar.png'"
				loading="lazy"
			/>
			<% } %>
			<p><%= friend.to_user.name %></p>
		</div>
		<% }else{ %>
		<div
			class="card"
			onclick="window.location.href='/users/profile/<%= friend.from_user.id %>'"
		>
			<% if (friend.from_user.avatar) { %>
			<img
				src="<%= friend.from_user.avatar %>"
				data-src="<%= friend.from_user.avatar %>"
				alt="<%= friend.from_user.name %>"
				onerror="this.onerror=null; this.src='/images/empty-avatar.png'"
				loading="lazy"
			/>
			<% } else { %>
			<img
				src="<%= assetPath('images/empty-avatar.png') %>"
				data-src="<%= assetPath('images/empty-avatar.png') %>"
				alt="<%= friend.from_user.name %>"
				onerror="this.onerror=null; this.src='/images/empty-avatar.png'"
				loading="lazy"
			/>
			<% } %>
			<p><%= friend.from_user.name %></p>
		</div>
		<% } %> <% } %>
		<!-- If Friends Don't Exist  -->
		<% } else { %>
		<h3 style="margin-top: 3rem">You Have No Friends</h3>
		<% } %>
	</section>
</div>
