<link rel="stylesheet" href="<%= assetPath('css/home.css') %>" />

<!-- Importing the Script for Creating the Comments -->
<script defer src="<%= assetPath('js/home_post_comments.js') %>"></script>
<!-- Importing the Script for Creating the Posts -->
<script defer src="<%= assetPath('js/home_posts.js') %>"></script>
<!-- Importing the Script for Basic Functionalities -->
<script defer src="<%= assetPath('js/home.js') %>"></script>
<!-- Importing the Script to Implement Lazy Loading -->
<script defer src="<%= assetPath('js/lazy_loading.js') %>"></script>
<!-- Importing the Script for Search Bar Functionality -->
<script defer src="<%= assetPath('js/search.js') %>"></script>
<!-- CHANGE :: import the script file for toggle likes, also run it over for the already present posts and comments on the page -->
<script defer src="<%= assetPath('js/toggle_likes.js') %>"></script>
<!-- Importing the Script for Toggling Friendships through AJAX -->
<script defer src="<%= assetPath('js/friendship.js') %>"></script>

<!-- Web Socket :: Socket.io CDN Import -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"
	integrity="sha512-/xb5+PNOA079FJkngKI2jvID5lyiqdHXaUUcfmzE0X0BdpkgzIWHC59LOG90a2jDcOyRsd1luOr24UCCAG8NNw=="
	crossorigin="anonymous"
	referrerpolicy="no-referrer"
	defer
></script>
<!-- Importing the Script for Sending the Request to Create the Connection -->
<script defer src="<%= assetPath('js/chat_engine.js') %>"></script>
<!-- Script for Creating / Establishing the Connection -->
<% if(locals.user){ %>
<script defer src="<%= assetPath('js/chat_connection.js') %>"></script>
<% } %>

<!-- Hidden Files -->
<% if(locals.user){ %>
<input
	type="hidden"
	id="hidden-user-id"
	name="user"
	value="<%= locals.user.email %>"
/>
<input
	type="hidden"
	id="hidden-user-name"
	name="chat"
	value="<%= locals.user.name %>"
/>
<input type="hidden" id="hidden-chat-id" name="chat" value="chatbox" />
<% if(friends.length === 0){ %>
<input type="hidden" id="hidden-friend-length" name="friend" value="0" />
<% }else{ %>
<input type="hidden" id="hidden-friend-length" name="friend" value="1" />
<% } %> <% } %>

<!-- HomePage -->
<% if(locals.user){ %>
<div id="home-container">
	<section id="feed-posts">
		<form id="search-users">
			<div class="search-box">
				<!-- ---------------------Input--------------------- -->
				<input
					id="search-users-input"
					type="search"
					placeholder="Search Users"
					autocomplete="off"
				/>
				<!-- ---------------------Suggestions Box--------------------- -->
				<ul class="autocomplete-box">
					<!-- <li>
						<a href="users/profile/">
							<img src="/images/coffee.jpg" alt="" />
							<span>Ayush Kanduri</span>
						</a>
					</li> -->
				</ul>
			</div>
		</form>
		<h2><i class="fa-solid fa-address-card"></i>&ensp;Posts</h2>
		<% if(locals.user){ %>
		<form
			action="/posts/create"
			id="new-post-form"
			method="post"
			enctype="multipart/form-data"
			class="card"
		>
			<% if(locals.user.avatar){ %>
			<img
				class="user-avatar create-post-avatar"
				src="<%= user.avatar %>"
				alt="<%= user.name %>"
				style="margin: auto"
				onclick="window.location.href='/users/profile/<%= user.id %>'"
				onerror="this.onerror=null; this.src='/images/empty-avatar.png'"
				loading="lazy"
			/>
			<% }else{ %>
			<img
				class="user-avatar create-post-avatar"
				src="<%= assetPath('images/empty-avatar.png') %>"
				alt="<%= user.name %>"
				style="margin: auto"
				onclick="window.location.href='/users/profile/<%= user.id %>'"
				onerror="this.onerror=null; this.src=`<%= assetPath('images/empty-avatar.png') %>`"
				loading="lazy"
			/>
			<% } %>

			<textarea
				name="content"
				class="content"
				cols="30"
				rows="3"
				placeholder="Type Here..."
				required
			></textarea>
			<div class="upload-wrapper">
				<button class="btn btn-grad">Add Image</button>
				<input
					type="file"
					name="contentImage"
					class="image"
					accept="image/png, image/gif, image/jpeg, image/jpg"
					size="1"
				/>
				<!-- accept="image/*" -->
				<!-- accept="video/*" -->
			</div>
			<div class="upload-wrapper">
				<button class="btn-grad">Add Video</button>
				<input
					type="file"
					name="contentVideo"
					class="video"
					accept="video/mp4, video/webm, video/ogg, video/mkv"
					size="1"
				/>
			</div>
			<input type="submit" value="Post" class="btn-grad" />
			<div class="preview-box">
				<!-- <div class="preview-image">
					<img
						src="/images/coffee.jpg"
						alt="post-image-preview"
						id="post-image-preview"
						class="preview"
					/>
				</div>
				<div class="preview-video">
					<video src="/images/video.mp4" 
					id="post-video-preview"
					muted class="preview"></video>
				</div> -->
			</div>
		</form>
		<% } %>
		<div id="posts-list-container">
			<ul class="post-ul">
				<% for(post of posts){ %> <%- include('_post.ejs'); -%> <% } %>
			</ul>
		</div>
	</section>

	<section id="user-sidebar">
		<section id="user-friends">
			<h2><i class="fa-solid fa-user-group"></i>&ensp;Friends List</h2>
			<% if(friends.length > 0){ for(let person of friends){
			if(person.from_user._id.toString() === locals.user._id.toString()){
			person = person.to_user; }else{ person = person.from_user; } %>
			<p
				class="friend card"
				onclick="window.location.href='/users/profile/<%= person.id %>'"
			>
				<% if(person.avatar){ %>
				<img
					class="user-avatar friend-avatar"
					src="<%= person.avatar %>"
					alt="<%= person.name %>"
					onclick="window.location.href='/users/profile/<%= person.id %>'"
					loading="lazy"
				/>
				<% } else { %>
				<img
					class="user-avatar"
					src="<%= assetPath('images/empty-avatar.png') %>"
					alt="<%= person.name %>"
					onclick="window.location.href='/users/profile/<%= person.id %>'"
					loading="lazy"
				/>
				<% } %>

				<a href="/users/profile/<%= person.id %>"><%= person.name %></a>
				<a
					class="remove"
					id="friendship_button"
					href="/friends/delete/<%= person.id %>"
				>
					Remove Friend
				</a>
			</p>
			<% }} %>
		</section>

		<section id="all-users">
			<h2><i class="fa-solid fa-user"></i>&ensp;All Users</h2>
			<% for(person of all_users){ %>
			<p
				class="friend card"
				onclick="window.location.href='/users/profile/<%= person.id %>'"
			>
				<% if(person.avatar){ %>
				<img
					class="user-avatar friend-avatar"
					src="<%= person.avatar %>"
					alt="<%= person.name %>"
					onclick="window.location.href='/users/profile/<%= person.id %>'"
					loading="lazy"
				/>
				<% } else { %>
				<img
					class="user-avatar"
					src="<%= assetPath('images/empty-avatar.png') %>"
					alt="<%= person.name %>"
					onclick="window.location.href='/users/profile/<%= person.id %>'"
					loading="lazy"
				/>
				<% } %>

				<a href="/users/profile/<%= person.id %>"><%= person.name %></a>
			</p>
			<% } %>
		</section>
	</section>

	<section id="chatbox"><%- include('_chat.ejs'); -%></section>
</div>
<% }else{ %>
<div id="welcome-container">
	<img
		id="intro-1"
		src="<%= assetPath('images/intro-1.jpg') %>"
		data-src="<%= assetPath('images/intro-1.jpg') %>"
		alt="social media info"
		loading="lazy"
	/>
	<div class="wrapper">
		<svg
			viewBox="0 0 800 500"
			preserveAspectRatio="none"
			xmlns="http://www.w3.org/2000/svg"
			xmlns:xlink="http://www.w3.org/1999/xlink"
			width="100%"
			id="blobSvg"
		>
			<g transform="translate(143.01700973510742, -12.946388244628906)">
				<path fill="#4ce8f7">
					<animate
						attributeName="d"
						dur="7000ms"
						repeatCount="indefinite"
						values="
							M431.5,294Q432,338,396,363Q360,388,331,433Q302,478,250,479Q198,480,158.5,447.5Q119,415,77,384.5Q35,354,21.5,302Q8,250,34.5,204.5Q61,159,78,107.5Q95,56,152.5,65Q210,74,250,74.5Q290,75,333.5,83Q377,91,410.5,124Q444,157,437.5,203.5Q431,250,431.5,294Z;

							M468,299Q454,348,423.5,388.5Q393,429,344.5,440Q296,451,253.5,436Q211,421,174,406.5Q137,392,91,370.5Q45,349,29,299.5Q13,250,41,206.5Q69,163,102.5,135.5Q136,108,173,90.5Q210,73,254,57.5Q298,42,334,70.5Q370,99,394,134Q418,169,450,209.5Q482,250,468,299Z;

							M457.5,299.5Q456,349,413,375Q370,401,331.5,419.5Q293,438,245.5,458.5Q198,479,147,461Q96,443,93,385Q90,327,48.5,288.5Q7,250,30.5,203Q54,156,87.5,122.5Q121,89,164.5,77.5Q208,66,252.5,56Q297,46,337.5,68Q378,90,417.5,120Q457,150,458,200Q459,250,457.5,299.5Z;

							M455.5,292Q425,334,409,382Q393,430,346,448Q299,466,254,447.5Q209,429,165,420.5Q121,412,99,373Q77,334,61.5,292Q46,250,67.5,211.5Q89,173,103.5,128.5Q118,84,159.5,59.5Q201,35,245.5,54Q290,73,333.5,81.5Q377,90,394.5,131Q412,172,449,211Q486,250,455.5,292Z;

							M448.5,299.5Q456,349,418.5,381.5Q381,414,341.5,446.5Q302,479,253,464.5Q204,450,164.5,428.5Q125,407,82.5,379Q40,351,41.5,300.5Q43,250,61,209Q79,168,99,127Q119,86,158,53Q197,20,250,19.5Q303,19,336,60Q369,101,412.5,126Q456,151,448.5,200.5Q441,250,448.5,299.5Z;

							M431.5,294Q432,338,396,363Q360,388,331,433Q302,478,250,479Q198,480,158.5,447.5Q119,415,77,384.5Q35,354,21.5,302Q8,250,34.5,204.5Q61,159,78,107.5Q95,56,152.5,65Q210,74,250,74.5Q290,75,333.5,83Q377,91,410.5,124Q444,157,437.5,203.5Q431,250,431.5,294Z;
							"
					>
						<!-- 1st and last "d" value is same -->
					</animate>
				</path>
			</g>
		</svg>
		<h1 id="text-animation-header" class="blink"></h1>
	</div>
</div>
<% } %>
