<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>The Social Book | <%= title%></title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"
		/>
		<link
			rel="shortcut icon"
			href="/images/favicon.png"
			type="image/x-icon"
		/>
		<link rel="stylesheet" href="/css/layout.css" />
		<link rel="stylesheet" href="/css/_header.css" />
		<link rel="stylesheet" href="/css/_footer.css" />
		<%- style%>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
		<script
			src="https://kit.fontawesome.com/34162fcf4d.js"
			crossorigin="anonymous"
		></script>
		<script defer src="/js/layout.js"></script>
		<%- script%>
	</head>
	<body>
		<%- include('_header');%>
		<main><%- body%></main>
		<%- include('_footer');%>

		<!-- Script -->
		<script defer>
			<% if(flash.success && flash.success.length > 0){ %>
				new Noty({
					theme: 'relax',
					text: '<%= flash.success %>',
					type:'success',
					layout:'topRight',
					timeout:1500
				}).show();
			<% } %>
			<% if(flash.error && flash.error.length > 0){ %>
				new Noty({
					theme: 'relax',
					text: '<%= flash.error %>',
					type:'error',
					layout:'topRight',
					timeout:1500
				}).show();
			<% } %>
		</script>
		<!-- Script -->

		<!-- <% if(flash.success && flash.success.length > 0){ %>
		<h5><%= flash.success %></h5>
		<% } %> -->
	</body>
</html>
