<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title%></title>
		<link
			rel="shortcut icon"
			href="/images/favicon.png"
			type="image/x-icon"
		/>
		<link rel="stylesheet" href="/css/layout.css" />
		<link rel="stylesheet" href="/css/_header.css" />
		<link rel="stylesheet" href="/css/_footer.css" />
		<%- style%>
		<script
			src="https://kit.fontawesome.com/34162fcf4d.js"
			defer
			crossorigin="anonymous"
		></script>
		<script defer src="/js/layout.js"></script>
		<%- script%>
	</head>
	<body>
		<%- include('_header');%> <%- body%> <%- include('_footer');%>
	</body>
</html>
