<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>The Social Book | <%= title%></title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"
		/>
		<link
			rel="shortcut icon"
			href="<%= assetPath('images/favicon.png') %>"
			type="image/x-icon"
		/>
		<link rel="stylesheet" href="<%= assetPath('css/layout.css') %>" />
		<link rel="stylesheet" href="<%= assetPath('css/_header.css') %>" />
		<link rel="stylesheet" href="<%= assetPath('css/_footer.css') %>" />
		<%- style%>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
		<!-- jQuery below NotyJS as NotyJS doesn't use jQuery -->
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
			integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>
		<script
			src="https://kit.fontawesome.com/34162fcf4d.js"
			crossorigin="anonymous"
		></script>
		<script defer src="<%= assetPath('js/layout.js') %>"></script>
		<%- script%>
	</head>
	<body>
		<%- include('_header');%>
		<main><%- body%></main>
		<%- include('_footer');%>

		<!-- Script -->
		<script defer>
			<% if(flash.success && flash.success.length > 0){ %>
				new Noty({
					theme: 'relax',
					text: '<%= flash.success %>',
					type:'success',
					layout:'topRight',
					timeout:3000
				}).show();
			<% } %>
			<% if(flash.error && flash.error.length > 0){ %>
				new Noty({
					theme: 'metroui',
					text: '<%= flash.error %>',
					type:'error',
					layout:'topRight',
					timeout:3000
				}).show();
			<% } %>
		</script>
		<!-- Script -->

		<!-- <% if(flash.success && flash.success.length > 0){ %>
		<h5><%= flash.success %></h5>
		<% } %> -->
	</body>
</html>
