<link rel="stylesheet" href="/css/user_profile.css" />
<script defer src="/js/profile.js"></script>
<script defer src="/js/lazy_loading.js"></script>
<script defer src="/js/frontend_form_validation.js"></script>

<div id="details">
	<table>
		<tr>
			<td colspan="5" style="text-align: center; padding-bottom: 1rem">
				<% if(profile_user.avatar){ %>
				<img
					src=""
					data-src="<%= profile_user.avatar %>"
					alt="<%= profile_user.name %>"
					loading="lazy"
				/>
				<% }else{ %>
				<img
					src=""
					data-src="/images/empty-avatar.png"
					alt="<%= profile_user.name %>"
					loading="lazy"
				/>
				<% } %>
			</td>
		</tr>
		<!-- If user matches then show the update form -->
		<% if(locals.user.id == profile_user.id){ %>
		<form
			action="/users/update/<%= profile_user.id %>"
			enctype="multipart/form-data"
			method="POST"
		>
			<tr>
				<th>
					<span>Name:</span>
				</th>
				<td class="input">
					<span
						>&nbsp;<input
							type="text"
							name="name"
							placeholder="Your Name"
							value="<%= profile_user.name %>"
							required
					/></span>
				</td>
			</tr>
			<tr>
				<th>
					<span>Email:</span>
				</th>
				<td class="input">
					<span
						>&nbsp;<input
							type="email"
							name="email"
							placeholder="Your Email"
							value="<%= profile_user.email %>"
							required
					/></span>
				</td>
			</tr>
			<tr>
				<th>
					<span>Password:</span>
				</th>
				<td class="input">
					<span
						>&nbsp;<input
							type="password"
							name="password"
							placeholder="Change password"
							value="<%= profile_user.password %>"
							minlength="6"
							size="6"
							required
					/></span>
				</td>
			</tr>
			<tr>
				<th>
					<span>Profile Picture:</span>
				</th>
				<td>
					&nbsp;
					<div class="upload-wrapper">
						<button class="btn btn-grad">Profile Picture</button>
						<input
							type="file"
							name="avatar"
							class="image"
							placeholder="Profile Picture"
						/>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="3" style="text-align: center; padding-top: 1rem">
					<input type="submit" value="Update" class="btn-grad" />
				</td>
			</tr>
		</form>
		<% }else{ %>
		<!-- Else show only the profile information -->
		<tr>
			<th>
				<span>Name:</span>
			</th>
			<td><span>&nbsp;<%= profile_user.name%></span></td>
		</tr>
		<tr>
			<th>
				<span>Email:</span>
			</th>
			<td><span>&nbsp;<%= profile_user.email%></span></td>
		</tr>
		<tr>
			<td colspan="3">
				<button class="btn-grad" onclick="window.location='/';">
					Home Page
				</button>
			</td>
		</tr>
		<% } %>
	</table>
</div>
